:root {
    color-scheme: dark light;
}

body {
    margin: 0;
}

#terminal {
    position: fixed;
    background-color: black;
    color: lightgrey;
    font-size: 13px;
    padding: 1em;
    margin: 0;
    width: 100%; width: 100vw; width: 100dvw;
    height: 100vh; height: 100dvh;
    overflow: hidden;
    box-sizing: border-box;
    pointer-events: none;
    z-index: -1;
    word-break: break-all;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}

#terminal:after {
    content: '_';
    animation: blink 1s infinite;
}